{# src/Perso/BlogBundle/Resources/view/Default/category.html.twig #}


{% extends "PersoBlogBundle:Admin:index.html.twig" %}

{% block title %}
  {{ parent() }} - Ajouter un article
{% endblock %}

{% block breadcrumb %}
  {{ parent() }}
  <li><a href="{{ path('perso_blog_admin_articles') }}" title="Administration des articles">Articles</li><li class="active">Ajouter un article</li>
{% endblock %}

{% block blog %}

<h2>Ajouter un article</h2>

{% include "PersoBlogBundle:Admin:form-article.html.twig" %}

{% endblock %}